:root {
  --slack-purple: #3e103f;
  --slack-yellow: #ecb22e;
  --slack-red: #e01e5a;
  --slack-green: #2bac76;
  --slack-blue: #1264a3;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*Header*/
.nav {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--slack-purple);
  color: white;
  padding: 10px;
  grid-template-areas: "logo items";
}

.nav > .logo {
  grid-area: logo
}
.nav > .items {
  grid-area:items
}
.nav > .items > ul > li {
  float: right;
  margin-right: 10px;
  list-style: none;
  color: gray;
}
.nav > .items > ul > li > a {
  color: gray;
  text-decoration: none;
}
.nav > .items > ul > li > a:hover {
  color: white;
  cursor: pointer;
}
.active {
  color: white;
  font-weight: bold;
}
.brand {
  display: grid;
  grid-template-columns:1.2fr 5fr;
  grid-template-rows: 1fr;
  align-items: center;
  grid-template-areas: "img h2";
  width: 30vh;
}
.brand>i{
  display: none;
  grid-area: menu;
}
.brand > img {
  grid-area: img
}
.brand > h2 {
  font-size: 20px;
  grid-area:h2;
  margin-left: 10px;
}
.header-account{
  display: flex;
  align-items: center;
}
.header-account:hover{
  cursor: pointer;
}
.header-account>i{
  margin-left: 10px;
  color: gainsboro;
}
.header-account>img{
  border-radius: 30px;
}
.option-section{
}
.option-section >p{
  padding: 10px;
}
.logout{
  border: 0px;
  width: 100%;
  padding:5px;
  color: white;
  background-color: var(--slack-red);
}

/*hero section*/
.hero {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: rgb(30, 29, 29);
}

.hero-content {
  grid-area: 1 / 1 / 2 / 2;
  padding: 10px;
}
.hero-content > h1 {
  font-size: 60px;
  color: var(--slack-green);
}
.hero-content > h3 {
  font-size: 25px;
  color: gainsboro;
  text-transform: capitalize;
}
.hero-content > p {
  letter-spacing: 2px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.584);
}
.hero-image {
  padding-top: 30px;
  grid-area: 1 / 2 / 2 / 3;
  justify-content: center;
}
.hero-image > img {
  margin-top: 20px;
}
.btn-start {
  margin-top: 10px;
  border: 0px;
  background-color: var(--slack-red);
  color: white;
  padding: 20px;
  text-transform: uppercase;
  width: 30%;
  font-weight: 600;
}
.remove-link-style {
  text-decoration: none;
  color: white;
}
.remove-link-style:hover {
  color: var(--slack-red);
}
.btn-start:hover {
  background-color: rgb(30, 29, 29);
  border: 1px solid var(--slack-red);
  color: var(--slack-red);
  padding: 20px;
  cursor: pointer;
}
.btn-text {
  border: 0px solid #61dbfb;
  background-color: rgb(30, 29, 29);
  margin-left: 10px;
  color: var(--slack-red);
  text-transform: uppercase;
  padding: 20px;
  cursor: pointer;
  font-weight: 600;
  font-weight: 600;
}
/*Sign up*/
.signUp {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.signUp > form {
  margin-left: 20px;
  margin-right: 20px;
}
.signUp > form > h4 {
  color: grey;
}
.signUp > form > input {
  width: 100%;
  width: 95%;
  padding: 10px;
}
.signUp > form > button {
  margin-top: 20px;
  width: 98.5%;
  padding: 20px;
  border: 0px;
  text-transform: uppercase;
  background-color: var(--slack-purple);
  font-weight: bold;
  color: white;
}
.signUp > form > button:hover {
  background-color: white;
  color: var(--slack-purple);
  border: 2px solid var(--slack-purple);
}
/*dashboard + sidebar*/
.dashboard {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  grid-template-areas: "sidebar sidebar-content";
}
.dashboard-3-columns {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  grid-template-areas: "sidebar sidebar-content right-content";
}

.sidebar {
  background-color: var(--slack-purple);
  border-top: 1px solid rgb(67, 67, 67);
  max-height: 100vh;
  overflow: auto;
  grid-area: sidebar;
}
.sidebar > h2 {
  color: white;
}
.sidebar > ul {
  list-style: none;
  padding: 0;
}
.sidebar > ul > li {
  padding-bottom: 20px;
  font-size: 13px;
}

.sidebar > ul > li > a {
  color: rgb(176, 176, 176);
  text-decoration: none;
  padding: 5px;
}
.sidebar > ul > li > a:hover {
  color: white;
}
/*sidebar-block*/
.sidebar-block {
  background-color: var(--slack-purple);
  border-top: 1px solid rgb(67, 67, 67);
  max-height: 100vh;
  overflow: auto;
  grid-area: sidebar;
}
.sidebar-block > h2 {
  color: white;
}
.sidebar-block > ul {
  list-style: none;
  padding: 0;
}
.sidebar-block > ul > li {
  padding-bottom: 20px;
  font-size: 13px;
}

.sidebar-block > ul > li > a {
  color: rgb(176, 176, 176);
  text-decoration: none;
  padding: 5px;
}
.sidebar-block > ul > li > a:hover {
  color: white;
}


.sidebar-content {
  height: 100vh;
  grid-area: sidebar-content;

}
.sidebar-content-right-content {
  grid-area: 1 / 3 / 2 / 4;
  height: 60vh;
  border-left: 1px solid rgb(226, 225, 225);
  padding: 10px;
  grid-area: right-content;
}
.channel-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  padding: 10px;
}

.channel-header > h2 {
  grid-area: 1 / 1 / 2 / 2;
  color: White;
}
.active-h2 {
  color: white;
  text-decoration: none;
}
.channel-header > .button-div {
  grid-area: 1 / 2 / 2 / 3;
}
.channel-header > .button-div > button {
  float: right;
  border-radius: 50px;
  padding: 10px;
  border: 0px;
}
.channel-header > .button-div > button:hover {
  cursor: pointer;
  background-color: #e01e5a;
  color: white;
}
.line-break {
  height: 1px;
  background-color: rgb(50, 50, 50);
}
.channels-section {
  margin-top: 10px;
}
.channels-section > p {
  color: gray;
  margin-left: 5px;
}
.channels-section > ul {
  list-style: none;
  padding: 0;
}
.channels-section > ul > li {
  padding-bottom: 20px;
  font-size: 13px;
}

.channels-section > ul > li > a {
  color: rgb(176, 176, 176);
  text-decoration: none;
  padding: 5px;
}
.channels-section > ul > li > a:hover {
  color: white;
}
.dm-section > p {
  color: gray;
  padding: 5px;
}
.dm-section > ul {
  list-style: none;
  padding: 0;
}
.dm-section > ul > li {
  padding-bottom: 15px;
  font-size: 13px;
}

.dm-section > ul > li > a {
  color: rgb(176, 176, 176);
  padding: 5px;

  text-decoration: none;
}
.dm-section > ul > li > a:hover {
  color: white;
}
.li-dm {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.li-dm > i {
  margin-right: 5px;
}

.li-dm > i > img {
  border-radius: 5px;
}
.li-dm-active {
  background-color: var(--slack-blue);
  padding-top: 10px;
  margin-bottom: 10px;
}
.icon-container {
  height: 25px;
  position: relative;
}

.icon-container > img {
  height: 100%;
  border-radius: 30%;
}

.status-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: grey;
  border: 1px solid white;
  bottom: 0;
  right: 0;
  position: absolute;
}
.status-circle-active {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--slack-green);
  border: 1px solid white;
  bottom: 0;
  right: 0;
  position: absolute;
}

.active-sidebar-item {
  color: white;
  background-color: var(--slack-blue);
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.active-sidebar-item > a {
  position: relative;
  top: 10px;
}
/*thread header*/
.thread-header {
  padding-left: 10px;
  border-bottom: 1px solid rgb(226, 225, 225);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.thread-header > .main-section > h3 {
  font-size: 20px;
}
.thread-header > .main-section > p {
  margin-top: -15px;
  color: grey;
  font-weight: 600;
}
.thread-header > button {
  margin-right: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: white;
  border: 2px solid gray;
  border-radius: 50px;
}
/*thread content*/
.thread-content {
  padding: 10px;
  height: 56vh;
  max-height: 56vh;
  overflow: auto;
}
.thread-message {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-right: 2px solid rgb(226, 225, 225);
}

.send-message{
  border: 0px;
  padding: 10px;
  width: 30%;
  background-color: var(--slack-purple);
  color: white;
  text-transform: uppercase;
  align-self: end;
  margin-top: 10px;
}
/*not found*/
.not-found {
  margin-top: 10px;
  text-align: center;
}
.not-found > h1 {
  padding: 50px;
  margin: 10px;
}
/*welcome*/
.welcome {
  margin: 10px;
}

/*channel details*/
.add-member-btn {
  float: right;
  border-radius: 50px;
  padding: 10px;
  border: 1px solid gainsboro;
  margin-right: 10px;
}
.add-member-btn:hover {
  background-color: var(--slack-blue);
  color: white;
  cursor: pointer;
}
/*thread main post*/
.thread-message-post {
  display: grid;
  grid-template-columns: 0.15fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 10px;
  grid-template-areas: "thread-img thread-post";
}

.thread-img {
  grid-area: thread-img;
  border-radius: 10px;
  margin-top: 5px;
}
.thread-post {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  grid-area: thread-post;
}
.thread-post > .user-details > .user-details-values {
  display: flex;
  align-items: center;
  height: 30px;
}
.thread-post > .user-details > button {
  margin-right: 10px;
  border: 0px;
  background-color: white;
  cursor: pointer;
}
.thread-post > .user-details {
  display: flex;
  justify-content: space-between;
}
.thread-post > .user-details > .user-details-values > p {
  margin-left: 10px;
  color: gray;
}
.thread-actual-post{
  margin-top: 0px;
  height: 100%;
  color: rgb(48, 46, 46);
  font-size: 16px;
  width: 90%;
}
.thread-post>button{
  background-color: white;
  border: 0px;
}
.thread-post>button:hover{
  cursor: pointer;
}
.thread-reactions {
  position: relative;
  display: flex;
}
.thread-reactions > button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
  border: 0px;
  border-radius: 30px;
  cursor: pointer;
}
.thread-reactions > button > i {
  color: var(--slack-yellow);
}
a {
  text-decoration: none;
}
.thread-replies {
  margin-top: 10px;
  display: flex;
  width: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid rgb(228, 225, 225);
  padding-left: 10px;
  align-items: center;
  color: var(--slack-blue);
}
.thread-replies > p {
  font-weight: bold;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*notification bell*/
.notification {
  margin-right: 10px;
  color: var(--slack-yellow);
}
.notification:hover {
  cursor: pointer;
}
.notification-bell {
  background-color: var(--slack-red);
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 1px;
  border-radius: 50px;
  font-size: 12px;
  position: relative;
  bottom: 10px;
}

.notification-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.notification-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgb(201, 201, 201);
}
.notification-content-header > h4,
p {
  margin-bottom: 0px;
  margin-top: 0px;
}
.notification-content-header > p {
  background-color: var(--slack-red);
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 1px;
  border-radius: 50px;
  font-size: 12px;
}
.notification-content-details {
  padding: 10px;
  color: gray;
}
/*right content*/
.right-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(228, 225, 225);
}
.right-content-header > button {
  border: 0px;
  background-color: white;
  font-size: 15px;
}
.right-content-header > button:hover {
  color: var(--slack-red);
  cursor: pointer;
}
/*channel name edit*/
.channel-name-edit {
  grid-area: 1 / 1 / 2 /2;
  width: 100%;
}
.channel-name-edit > input {
  padding: 20px;
  width: 100%;
  background-color: #581d5a;
  border: 0px;
  color: white;
  font-size: 16px;
}
/*add members dialog*/
.add-members{
  display: flex;
  flex-direction: column;
  width:40vh;
}
.add-members-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(211, 211, 211);

}
.add-members-header>button{
  border: 0px;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
}
.add-members-content{
  height: 250px;
  margin-top: 10px;
  overflow: auto;
  border-bottom:1px solid rgb(176, 176, 176);
  padding-bottom: 20px;
}
.member-list-item{
  display: flex;
  align-items: center;
  border: 1px solid gainsboro;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.member-list-item-member-details{
  display: flex;
  align-items: center;

}
.member-list-item-member-details>img{
  border-radius: 10px;
}
.member-list-item-member-details>p{
  font-size: 20px;
  margin-left: 10px;
  font-weight:400;
}
.member-list-item-member-details >.remove{
  color: var(--slack-red);
  font-weight: bold;
}
.member-list-item>button{
  border: 0px;
  padding: 10px;
  border-radius: 10px;
}
.member-list-item>.remove{
  border: 0px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--slack-red);
  color:white;
}
.member-list-item>button:hover{
  background-color: var(--slack-blue);
  color: white;
  cursor: pointer;
}
/*sidebar add channel*/
.add-channel-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
}
.add-channel-div>input{
  width: 100%;
  margin-right: 10px;
  padding: 10px;
  background-color: #581d5a;
  color: white;
  border: 0px;
}
.add-channel-div>button{
  padding: 10px;
  border: 0px;
  border-radius: 10px;
  background-color: var(--slack-red);
  color: white;
}
/*dm section*/
.dm-searchbar{
  border: 0px;
  padding: 10px;
 background-color: gainsboro;
}
.dm-header {
  border-bottom: 1px solid rgb(226, 225, 225);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-template-areas: 
  "dm-header" 
  "dm-input";
}
.dm-header-details{
  grid-area: dm-header;
  padding-left:10px;
  background-color: rgb(248, 248, 248);
  border-bottom: 1px solid gray;
}
.dm-convo-header-details{
  padding:20px;
  background-color: rgb(248, 248, 248);
  display: flex;
  align-items: center;
}
.icon-container-dm-convo {
  height: 50px;
  position: relative;
}
.icon-container-dm-convo >img{
  border-radius: 10px;
  height:50px;
  position: relative;
}
.dm-convo-header-details >h3{
  margin-left: 10px;
}
.dm-header-input{
  grid-area: dm-input;
 
}
.dm-header-input>span{
  display:flex;
  flex-direction:row;
}
.dm-header-input>span>input{
  flex: 1;
  background-color: white;
  padding:20px;
  border: 0px;
  border-radius: 0px;
}
.dm-content {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 20px;
  height:80%;
  overflow: auto;
  background-color: rgb(248, 248, 248);
}
.dm-today{
  margin-left: 10px;
}
.dm-messages-holder{
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 10px;
  padding: 5px;
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dm-message-item{
  display: grid;
  grid-template-columns: 0.06fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "message-img message-content";
  background-color: white;
  padding: 10px;
border-bottom: 1px solid gray;
}
.dm-messages-holder :last-child.dm-message-item{
  border: 0px;
}

.dm-message-item-img{
  grid-area: message-img;
}
.dm-message-item-content{
  grid-area: message-content;

}
.dm-message-item-content-details{
  display: flex;
  align-items: center;
  
}
.dm-message-item-content >a >.dm-message-item-content-details>.userName{
  font-size: 15px;
  font-weight: bold;
  color: black;
  
}
.dm-message-item-content>a>.dm-message-item-content-details>.msg-date{
  margin-left: 10px;
  color: grey;
}
.dm-message-item-content-message{
  color: black;
}
/*dm message convo*/
.dm-convo-content {
  padding: 10px;
  height: 56vh;
  max-height: 56vh;
  overflow: auto;
}
.dm-convo-message-item{
  display:grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
}
/*mentions and replies*/
.mention-replies-header {
  border-bottom: 1px solid rgb(226, 225, 225);
  background-color: ghostwhite;
  padding-left: 10px;
}
.mention-replies-content{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 20px;
  height:80%;
  overflow: auto;
  background-color: rgb(248, 248, 248);
}
@media only screen and (max-width: 700px) {
  .dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "sidebar" 
    "sidebar-content";
  }

  .sidebar-block{
    min-height: 50vh;
    display: block;
    background-color: var(--slack-purple);
  border-top: 1px solid rgb(67, 67, 67);
  overflow: auto;
  grid-area: sidebar;
  }
  .sidebar-block > h2 {
    color: white;
  }
  .sidebar-block > ul {
    list-style: none;
    padding: 0;
  }
  .sidebar-block > ul > li {
    padding-bottom: 20px;
    font-size: 13px;
  }
  
  .sidebar-block > ul > li > a {
    color: rgb(176, 176, 176);
    text-decoration: none;
    padding: 5px;
  }
  .sidebar-block > ul > li > a:hover {
    color: white;
  }
  .dashboard-3-columns {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "sidebar" 
    "sidebar-content" 
    "right-content";
  }
  .brand {
    display: grid;
    grid-template-columns: 0.2fr 0.1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    grid-template-areas: "menu img h2";
    width: 30vh;
  }
  .brand>i{
    display: block;
    grid-area: menu;
  }
  .dm-message-item{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "message-img message-content";
   
    background-color: white;
    padding: 10px;
  border-bottom: 1px solid gray;
  }
}